---
import PDFUploadWithTemplates from '../srcForDashboard/pdf-upload.tsx'
---

<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/styles/global.css" rel="stylesheet" />
  </head>
  <body class="bg-white font-sans">
    <PDFUploadWithTemplates client:load/>
  </body>
</html>